<head>
    <title>Нева</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/lib/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/css/lib/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

</head>

<body>
    <!-- HEADER-->
    <header>
        <a name="1"></a>
        <div class="header-top very_light_blue Head_4">
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <div class="row">
                            <div class="col-sm-2">
                                <a href="index.html">
                                <img src="assets/images/logo.png">
                                </a>
                            </div>
                            <a data-toggle="modal" data-target="#get_price_modal" type="button"
                                class="col-sm-2 link-top price light_blue Head_4" href="javascript:void(0)">
                                <img src="assets/images/price32.png">
                                <span>Прайс - лист</span>
                            </a>
                            <div class="col-sm-2 link-top price light_blue Head_4">
                                <a href="#4">
                                    <img src="assets/images/mark32.png">
                                    <span>г. Санкт-Петербург</span>
                                </a>
                            </div>
                            <div class="col-sm-2 offset-sm-2 link-top indent light_blue Head_4">
                                <a href="mailto:info@neva.ru">info@neva.ru</a>
                            </div>
                            <div class="col-sm-2 link-top indent light_blue Head_4">
                                <a href="tel:+78888888888">+7 (888) 888-88-88</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <div class="container confidentiality">
            <div class="blue Head_1">Политика конфиденциальности</div>
            <div class="title-1 dark-blue Head_2">Политика в отношении обработки персональных данных</div>
            <div class="blue Head_2">1. Общие положения</div>
            <div class="dark-blue Body_1 text">Настоящая политика обработки персональных данных составлена в
                соответствии с требованиями Федерального закона от
                27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по
                обеспечению
                безопасности персональных данных ООО Нева (далее – Оператор).</div>
            <ol class="dark-blue Body_1">
                <li class="line_text">Оператор ставит своей важнейшей целью и условием осуществления своей деятельности
                    соблюдение прав и свобод человека и
                    гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность
                    частной жизни, личную и
                    семейную тайну.</li>
                <li class="line_text">Настоящая политика Оператора в отношении обработки персональных данных (далее –
                    Политика) применяется ко всей
                    информации, которую Оператор может получить о посетителях веб-сайта https://</li>
            </ol>
            <div class="blue Head_2">2. Основные понятия, используемые в Политике</div>
            <ol class="dark-blue Body_1">
                <li class="line_text">Автоматизированная обработка персональных данных – обработка персональных данных с
                    помощью средств вычислительной
                    техники;</li>
                <li class="line_text">Блокирование персональных данных – временное прекращение обработки персональных
                    данных (за исключением случаев, если
                    обработка необходима для уточнения персональных данных);</li>
                <li class="line_text"> Веб-сайт – совокупность графических и информационных материалов, а также программ
                    для ЭВМ и баз данных, обеспечивающих
                    их доступность в сети интернет по сетевому адресу https:// ;</li>
                <li class="line_text">Информационная система персональных данных — совокупность содержащихся в базах
                    данных персональных данных, и
                    обеспечивающих их обработку информационных технологий и технических средств;</li>
                <li class="line_text">Обезличивание персональных данных — действия, в результате которых невозможно
                    определить без использования
                    дополнительной информации принадлежность персональных данных конкретному Пользователю или иному
                    субъекту персональных
                    данных;</li>
                <li class="line_text">Обработка персональных данных – любое действие (операция) или совокупность
                    действий (операций), совершаемых с
                    использованием средств автоматизации или без использования таких средств с персональными данными,
                    включая сбор, запись,
                    систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование,
                    передачу
                    (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение
                    персональных данных;</li>
                <li class="line_text">Оператор – государственный орган, муниципальный орган, юридическое или физическое
                    лицо, самостоятельно или совместно с
                    другими лицами организующие и (или) осуществляющие обработку персональных данных, а также
                    определяющие цели обработки
                    персональных данных, состав персональных данных, подлежащих обработке, действия (операции),
                    совершаемые с персональными
                    данными;</li>
                <li class="line_text">Персональные данные – любая информация, относящаяся прямо или косвенно к
                    определенному или определяемому Пользователю
                    веб-сайта https:// ;</li>
                <li class="line_text">Пользователь – любой посетитель веб-сайта https:// ;</li>
                <li class="line_text">Предоставление персональных данных – действия, направленные на раскрытие
                    персональных данных определенному лицу или
                    определенному кругу лиц;</li>
                <li class="line_text">Распространение персональных данных – любые действия, направленные на раскрытие
                    персональных данных неопределенному
                    кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного
                    круга лиц, в том
                    числе обнародование персональных данных в средствах массовой информации, размещение в
                    информационно-телекоммуникационных
                    сетях или предоставление доступа к персональным данным каким-либо иным способом;</li>
                <li class="line_text">Трансграничная передача персональных данных – передача персональных данных на
                    территорию иностранного государства органу
                    власти иностранного государства, иностранному физическому или иностранному юридическому лицу;</li>
                <li class="line_text">Уничтожение персональных данных – любые действия, в результате которых
                    персональные данные уничтожаются безвозвратно с
                    невозможностью дальнейшего восстановления содержания персональных данных в информационной системе
                    персональных данных и
                    (или) результате которых уничтожаются материальные носители персональных данных.</li>
            </ol>
            <div class="blue Head_2">3. Оператор может обрабатывать следующие персональные данные Пользователя</div>
            <ol class="dark-blue Body_1">
                <li class="line_text">Фамилия, имя, отчество;</li>
                <li class="line_text">Электронный адрес;</li>
                <li class="line_text">Номера телефонов;</li>
                <li class="line_text">Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в
                    т.ч. файлов «cookie») с помощью сервисов
                    интернет-статистики (Яндекс Метрика и Гугл Аналитика и других);</li>
                <li class="line_text">Вышеперечисленные данные далее по тексту Политики объединены общим понятием
                    Персональные данные.</li>
            </ol>
            <div class="blue Head_2">4. Цели обработки персональных данных</div>
            <ol class="dark-blue Body_1">
                <li class="line_text">Цель обработки персональных данных Пользователя — информирование Пользователя
                    посредством отправки электронных писем;
                    предоставление доступа Пользователю к сервисам, информации и/или материалам, содержащимся на
                    веб-сайте, консультирование
                    Пользователя по тарифам и услугам Оператора.</li>
                <li class="line_text">Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и
                    услугах, специальных предложениях и
                    различных событиях. Пользователь всегда может отказаться от получения информационных сообщений,
                    направив Оператору
                    письмо на адрес электронной почты info@ .ru с пометкой «Отказ от уведомлениях о новых продуктах и
                    услугах и специальных
                    предложениях».</li>
                <li class="line_text">Обезличенные данные Пользователей, собираемые с помощью сервисов
                    интернет-статистики, служат для сбора информации о
                    действиях Пользователей на сайте, улучшения качества сайта и его содержания.</li>
            </ol>
            <div class="blue Head_2">5. Правовые основания обработки персональных данных</div>
            <ol class="dark-blue Body_1">
                <li class="line_text">Оператор обрабатывает персональные данные Пользователя только в случае их
                    заполнения и/или отправки Пользователем
                    самостоятельно через специальные формы, расположенные на сайте https:// .ru. Заполняя
                    соответствующие формы и/или
                    отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной
                    Политикой.</li>
                <li class="line_text">Оператор обрабатывает обезличенные данные о Пользователе в случае, если это
                    разрешено в настройках браузера Пользователя
                    (включено сохранение файлов «cookie» и использование технологии JavaScript).</li>
            </ol>
            <div class="blue Head_2">6. Порядок сбора, хранения, передачи и других видов обработки персональных данных
            </div>
            <div class="dark-blue Body_1 text">Безопасность персональных данных, которые обрабатываются Оператором,
                обеспечивается путем реализации правовых,
                организационных и технических мер, необходимых для выполнения в полном объеме требований действующего
                законодательства в
                области защиты персональных данных.</div>
            <ol class="dark-blue Body_1">
                <li class="line_text">Оператор обеспечивает сохранность персональных данных и принимает все возможные
                    меры, исключающие доступ к персональным
                    данным неуполномоченных лиц.</li>
                <li class="line_text">Персональные данные Пользователя никогда, ни при каких условиях не будут переданы
                    третьим лицам, за исключением случаев,
                    связанных с исполнением действующего законодательства.</li>
                <li class="line_text">В случае выявления неточностей в персональных данных, Пользователь может
                    актуализировать их самостоятельно, путем
                    направления Оператору уведомление на адрес электронной почты Оператора info@ .ru с пометкой
                    «Актуализация персональных
                    данных».</li>
                <li class="line_text">Срок обработки персональных данных является неограниченным. Пользователь может в
                    любой момент отозвать свое согласие на
                    обработку персональных данных, направив Оператору уведомление посредством электронной почты на
                    электронный адрес
                    Оператора info@ .ru с пометкой «Отзыв согласия на обработку персональных данных».</li>
            </ol>
            <div class="blue Head_2">7. Трансграничная передача персональных данных</div>
            <ol class="dark-blue Body_1">
                <li class="line_text">Оператор до начала осуществления трансграничной передачи персональных данных
                    обязан убедиться в том, что иностранным
                    государством, на территорию которого предполагается осуществлять передачу персональных данных,
                    обеспечивается надежная
                    защита прав субъектов персональных данных.</li>
                <li class="line_text">Трансграничная передача персональных данных на территории иностранных государств,
                    не отвечающих вышеуказанным
                    требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта
                    персональных данных на
                    трансграничную передачу его персональных данных и/или исполнения договора, стороной которого
                    является субъект
                    персональных данных.</li>
            </ol>
            <div class="blue Head_2">8. Заключительные положения</div>
            <ol class="dark-blue Body_1">
                <li class="line_text">Пользователь может получить любые разъяснения по интересующим вопросам, касающимся
                    обработки его персональных данных,
                    обратившись к Оператору с помощью электронной почты info@ .ru.</li>
                <li class="line_text">В данном документе будут отражены любые изменения политики обработки персональных
                    данных Оператором. Политика действует
                    бессрочно до замены ее новой версией.</li>
                <li class="line_text">Актуальная версия Политики в свободном доступе расположена в сети Интернет по
                    адресу https://confidentiality.html.</li>
            </ol>
        </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-1"><a href="#1">
                        <img src="assets/images/up_arrow/normal.png" class="up_arrow">
                    </a></div>
                <div class="col-10 offset-1 footer-right">
                    <div class="footer-content">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#2" class="white Head_3">Продукция</a></li>
                                <li><a href="#3" class="white Head_3">Производство</a></li>
                                <li><a data-toggle="modal" data-target="#get_price_modal" type="button"
                                        class="white Head_3" href="javascript:void(0)">Прайс-лист</a></li>
                            </ul>
                        </div>
                        <div class="footer-link">
                            <ul>
                                <li id="email_copy">
                                    <a id="email_buffer" class="footer-email"
                                        data-clipboard-text="info@neva.ru">info@neva.ru</a>
                                </li>
                                <li><a href="tel:+78888888888">+7 (888) 888-88-88</a></li>
                            </ul>
                        </div>
                        <div class="logo-small">
                            <img src="assets/images/logo-small.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="assets/js/lib/bootstrap.bundle.min.js"></script>
        <script src="assets/js/lib/bootstrap.min.js"></script>
        <script src="assets/js/lib/clipboard.min.js"></script>
        <script src="assets/js/lib/anime.min.js"></script>
        <script src="assets/js/main.js"></script>
    </footer>
</body>